MONGODB_URI=xxxxx

MONGODB_VECTOR_COLLECTION=xxx

MONGODB_VECTOR_INDEX=xxx

MONGODB_SERVER_API_STRICT=false

MONGODB_SERVER_API_DEPRECATION_ERRORS=true
# JWT
JWT_ACCESS_SECRET==xxxx

JWT_ACCESS_EXPIRESIN=15m


JWT_REFRESH_SECRET=xxx

JWT_REFRESH_EXPIRESIN=30d

# CHAT
OPENAI_CHAT_MODEL=xxx

OPENAI_CHAT_API_KEY=xxx

OPENAI_CHAT_BASE_URL=xxx

# EMBEDDING
OPENAI_EMBEDDING_MODEL=xxx

OPENAI_EMBEDDING_API_KEY=xxx

OPENAI_EMBEDDING_BASE_URL=xxx

OPENAI_EMBEDDING_BATCH_SIZE=10

EMBED_QUERY_TIMEOUT_MS=12000

VECTOR_SEARCH_TIMEOUT_MS=8000


# R3
AWS_EMD_POINT=xxxx

AWS_ACCESS_KEY_ID=your_access_key

AWS_SECRET_ACCESS_KEY=your_secret_key

S3_BUCKET_NAME=your-bucket-name
