MONGODB_URI=xxxxx

# JWT
JWT_ACCESS_SECRET==xxxx

JWT_ACCESS_EXPIRESIN=15m


JWT_REFRESH_SECRET=xxx

JWT_REFRESH_EXPIRESIN=30d

# CHAT
OPENAI_CHAT_MODEL=xxx

OPENAI_CHAT_API_KEY=xxx

OPENAI_CHAT_BASE_URL=xxx

# EMBEDDING
OPENAI_EMBEDDING_MODEL=xxx

OPENAI_EMBEDDING_API_KEY=xxx

OPENAI_EMBEDDING_BASE_URL=xxx


# R3
AWS_EMD_POINT=xxxx

AWS_ACCESS_KEY_ID=your_access_key

AWS_SECRET_ACCESS_KEY=your_secret_key

S3_BUCKET_NAME=your-bucket-name
